<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>ID : {{item_id}}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="/style/style.css" />

<script>
  MathJax = {
    tex: {
      inlineMath: [['$', '$'], ['\\(', '\\)'],['\(', '\)']]
    }
  };
  </script>
  <script id="MathJax-script" async
    src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
  </script>
<script type="text/javascript" id="MathJax-script" async
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
</script>


</head>

<body>
    
    
    <ul id="colorList"></ul>
    <canvas id="canvas"></canvas>
    <img id="clearBtn" src="/assets/clear.png" alt="清空画布" />
    <img id="sendBtn" src="/assets/send.png" alt="发送" />
    <script src="/js/index.js"></script>


    <div id="rightHalf">
      <ul id="displayList" >
        <li>Output</li>
      </ul>
    </div>
    
    <p id="userId">{{ item_id }}</p>
    <script src="/js/userPage.js"></script>  
  </body>
  </html>


</html>


